
FOLLOW THE FOLLOWING STEPS TO COPY YOUR DATASETS INTO YOUR PGADMIN

/* STEP 1: Create a new database for your company */

CREATE DATABASE Buybuy_company;


/* STEP 2: Execute the following code to create a new table in your database */

CREATE TABLE sales_data (
    sales_date date,
    sales_year varchar,
    cus_id varchar,
	cus_age int,
    cus_gender varchar,
    cus_country text,
    cus_state text,
    prod_category varchar,
    prod_subcategory varchar,
    product varchar,
    ord_quantity int,
    unit_cost int,
    unit_price int,
    cost int,
    revenue int
    );


/* 
STEP 3
Execute the following code to copy CSV data into your database 
*/

COPY sales_data 
FROM 'D:\DATASETS\CompanyX_sales_dataset.csv'
DELIMITER ',' CSV 
HEADER;


/* 
STEP 4
Execute the following code to display the newly imported data in your database 
*/

SELECT *
FROM sales_data;

--1. TIME PROFIT ANALYSIS --

/*Q1a. Write a query that returns the total profit made by BuyBuy from 1Q11 to 4Q16 (all
quarters of every year).*/

SELECT 	sales_year AS year,
		CASE WHEN DATE_PART('month', sales_date) IN (1, 2, 3) THEN 'Q1'
		WHEN DATE_PART('month', sales_date) IN (4, 5, 6) THEN 'Q2'
		WHEN DATE_PART('month', sales_date) IN (7, 8, 9) THEN 'Q3'
		WHEN DATE_PART('month', sales_date) IN (10, 11, 12) THEN 'Q4'
		END AS quarters,
		SUM(revenue - cost) AS total_price
FROM sales_data
GROUP BY year, quarters
ORDER BY year, quarters;

/*Q1b. Write queries that return the total profit made by BuyBuy in Q2 of every year from
2011 to 2016.*/

SELECT 	sales_year AS year,
		CASE WHEN DATE_PART('month', sales_date) IN (4, 5, 6) THEN 'Q2'
		END AS quarter_2,
		SUM(revenue - cost) AS total_profit
FROM sales_data
GROUP BY year, quarter_2
ORDER BY year;

--Q1b--

SELECT 	sales_year AS year, 
		SUM(revenue - cost) AS Q2_profit
FROM sales_data
WHERE DATE_PART('month', sales_date) IN (4, 5, 6) 
GROUP BY year
ORDER BY year;

/*Q1c.Write a query that returns the annual profit made by BuyBuy from the year 2011 to
2016.*/

SELECT 	sales_year AS year,
		SUM(revenue - cost) AS total_profit
FROM sales_data
GROUP BY year
ORDER BY year;

--2. Region-Profit Analysis --

/*2a. Write 2 queries that return the countries where BuyBuy has made the most profit and
also the least profit of all-time. Your query must display both results on the same
output.*/

SELECT *
FROM (
	SELECT 	cus_country AS country,
			SUM(revenue - cost) AS total_profit
	FROM sales_data
	GROUP BY country
	ORDER BY total_profit DESC
	LIMIT 1) AS sub1		
UNION
SELECT *
FROM (
	SELECT 	cus_country AS country,
			SUM(revenue - cost) AS total_profit
	FROM sales_data
	GROUP BY country
	ORDER BY total_profit ASC
	LIMIT 1) AS sub2

/**2b. Write a query that shows the Top-10 most profitable countries for BuyBuy sales
operations from 2011 to 2016**/

SELECT 	cus_country AS country,
		SUM(revenue - cost) AS total_profit
FROM sales_data
GROUP BY country
ORDER BY total_profit DESC;

/*2c. Write a query that shows the all-time Top-10 least profitable countries for BuyBuy
sales operations.*/

SELECT 	cus_country AS country,
		SUM(revenue - cost) AS total_profit
FROM sales_data
GROUP BY country
ORDER BY total_profit;

--3. Product-Revenue Analysis--

/*3a. Write a query that ranks all product categories sold by Buybuy, from least amount to
the most amount of all-time revenue generated.*/

SELECT prod_category AS category_of_product,
		SUM(revenue) AS total_revenue
FROM sales_data
GROUP BY 1
ORDER BY 2 DESC;

/*3b. Write a query that returns Top-2 product categories offered by Buybuy with an all-time
high number of units sold.*/

SELECT 	prod_category AS category_of_product, 
		SUM(ord_quantity) AS total_unit_sold
FROM 	sales_data
GROUP BY 1
ORDER BY 2 DESC
LIMIT 2;

/*3c. Write a query that shows the Top 10 highest-grossing products sold by BuyBuy based
on all-time profits.*/

SELECT 	product,
		SUM(revenue - cost) AS total_profit
FROM 	sales_data
GROUP BY 1
ORDER BY 2 DESC
LIMIT 10;